<header>
    <div class="top-header background-primary-1">

        <div
            class="px-2 py-1 d-flex justify-content-between align-items-center flex-lg-nowrap flex-wrap gap-lg-0 gap-3 container-lg">
            <div class="d-flex align-items-center gap-2 flex-lg-nowrap flex-wrap">
                <a href="#" class="text-white text-decoration-none"><i class='fas fa-phone'></i> +123 25355223</a>
                <a href="#" class="text-white text-decoration-none"><i class='fas fa-mail-bulk'></i> info@sample.com</a>
                <a href="#" class="text-white text-decoration-none"><i class='fas fa-map-marker-alt'></i>lorem loire</a>
            </div>

            <div class="d-flex align-items-center gap-2 justify-content-lg-end justify-content-between">
                <a href="#" class="text-white text-decoration-none"><i class='fab fa-linkedin'></i></a>
                <a href="#" class="text-white text-decoration-none"><i class='fab fa-twitter'></i></a>
                <a href="#" class="text-white text-decoration-none"><i class='fab fa-instagram'></i></a>
                <a href="#" class="text-white text-decoration-none"><i class='fab fa-facebook-f'></i></a>
            </div>

        </div>
    </div>

    <div class="main-header background-primary-2">
        <div class="container-lg px-2 py-4 d-flex justify-content-between align-items-lg-center ">
            <nav class="navbar navbar-dark navbar-expand-lg">
                <button class="navbar-toggler background-primary-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav d-flex flex-lg-row gap-2 gap-lg-4 mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white text-decoration-none fw-semibold" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-decoration-none fw-semibold" href="#">Pages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-decoration-none fw-semibold" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-decoration-none fw-semibold" href="#">Room</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-decoration-none fw-semibold" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-decoration-none fw-semibold" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <a class="py-3 px-4 text-uppercase text-white text-decoration-none fw-semibold rounded-3 book-now h-100 background-primary-1 position-relative overflow-hidden z-1 header-hover-btn"
                href="#">
                book now
            </a>
        </div>
    </div>
</header>