<section class="special-offers-section overflow-hidden">
    <div class="gt-right-shape">
        <img src="../assets/images/home/about/shapes.png" class="opacity-20" alt="img">
    </div>
    <div class="container">
        <div class="gt-section-title text-center">
            <h6 class="justify-content-center wow fadeInUp text-primary-1">
                <img src="../assets/icons/wave-theme.svg" class="hero-icon" alt="img">
                EXCLUSIVE DEALS
                <img src="../assets/icons/wave-theme.svg" class="hero-icon rotate-360" alt="img">
            </h6>
            <h2 class="wow fadeInUp" data-wow-delay=".2s">
                Our Special Offers
            </h2>
        </div>
    </div>
    <div class="gt-special-offer-wrapper">
        <div class="swiper gt-special-offer-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="gt-special-offer-box-items">
                        <div class="gt-thumb w-100"
                            style="background-image: url('../assets/images/home/exclusive-deals/family-package.jpg');">
                            <!-- <img src="../assets/images/home/exclusive-deals/offer-01.jpg" alt="img">
                            <img src="../assets/images/home/exclusive-deals/offer-01.jpg" alt="img"> -->
                        </div>
                        <div class="gt-content">
                            <span>Experience Services</span>
                            <h3><a href="#" class="text-decoration-none">Family Fun Package</a></h3>
                            <p>Escape with your loved one and enjoy a luxury suite, champagne on arrival</p>
                            <div class="gt-list-area">
                                <ul class="gt-list list-unstyled">
                                    <li>
                                        <i class="fas fa-chevron-circle-right"></i>
                                        15% off on family suites
                                    </li>
                                    <li>
                                        <i class="fas fa-chevron-circle-right"></i>
                                        The local amusement park
                                    </li>
                                </ul>
                                <ul class="gt-list list-unstyled">
                                    <li>
                                        <i class="fas fa-chevron-circle-right"></i>
                                        Complimentary tickets
                                    </li>
                                    <li>
                                        <i class="fas fa-chevron-circle-right"></i>
                                        Free meals for kids under 12
                                    </li>
                                </ul>
                            </div>
                            <div class="gt-price-list">
                                <del>$ 99.00</del>
                                <h4>$ 99.00</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gt-special-offer-box-items">
                        <div class="gt-thumb w-100"
                            style="background-image: url('../assets/images/home/exclusive-deals/family-package-2.jpg');">
                            <!-- <img src="../assets/images/home/exclusive-deals/offer-02.jpg" alt="img">
                            <img src="../assets/images/home/exclusive-deals/offer-02.jpg" alt="img"> -->
                        </div>
                        <div class="gt-content">
                            <span>Experience Services</span>
                            <h3><a href="#" class="text-decoration-none">Family Fun Package</a></h3>
                            <p>Escape with your loved one and enjoy a luxury suite, champagne on arrival</p>
                            <div class="gt-list-area">
                                <ul class="gt-list list-unstyled">
                                    <li>
                                        <i class="fas fa-chevron-circle-right"></i>
                                        15% off on family suites
                                    </li>
                                    <li>
                                        <i class="fas fa-chevron-circle-right"></i>
                                        The local amusement park
                                    </li>
                                </ul>
                                <ul class="gt-list list-unstyled">
                                    <li>
                                        <i class="fas fa-chevron-circle-right"></i>
                                        Complimentary tickets
                                    </li>
                                    <li>
                                        <i class="fas fa-chevron-circle-right"></i>
                                        Free meals for kids under 12
                                    </li>
                                </ul>
                            </div>
                            <div class="gt-price-list">
                                <del>$ 99.00</del>
                                <h4>$ 99.00</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gt-special-offer-box-items">
                        <div class="gt-thumb w-100"
                            style="background-image: url('../assets/images/home/exclusive-deals/spa-beauty-center.jpg');">
                            <!-- <img src="../assets/images/home/exclusive-deals/offer-03.jpg" alt="img">
                            <img src="../assets/images/home/exclusive-deals/offer-03.jpg" alt="img"> -->
                        </div>
                        <div class="gt-content">
                            <span>Relaxation</span>
                            <h3><a href="#" class="text-decoration-none">SPA & Beauty Center</a></h3>
                            <p>Escape with your loved one and enjoy a luxury suite, champagne on arrival</p>
                            <div class="gt-list-area">
                                <ul class="gt-list list-unstyled">
                                    <li>
                                        <i class="fas fa-chevron-circle-right"></i>
                                        15% off on family suites
                                    </li>
                                    <li>
                                        <i class="fas fa-chevron-circle-right"></i>
                                        The local amusement park
                                    </li>
                                </ul>
                                <ul class="gt-list list-unstyled">
                                    <li>
                                        <i class="fas fa-chevron-circle-right"></i>
                                        Complimentary tickets
                                    </li>
                                    <li>
                                        <i class="fas fa-chevron-circle-right"></i>
                                        Free meals for kids under 12
                                    </li>
                                </ul>
                            </div>
                            <div class="gt-price-list">
                                <del>$ 99.00</del>
                                <h4>$ 99.00</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>